{% extends 'base.html' %}
{% block title %} User {% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src={{user.image_url}} class="rounded-circle" width="200" height="150">
                            <div class="mt-3">
                                <h4>{{ user.username }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Username</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ g.user.username }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ g.user.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Password</h6>
                            </div>
                            <div class="col-sm-9 text-secondary" type="password">
                                <a href="#">Change password</a>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <a class="btn btn-info " href="user/edit">Edit</a>
                            </div>

                            <div class="col-sm-9">
                                <form method="POST" action="user/delete">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1> Your Favorite Recipes </h1>

        <div class="card-group">
            {% for row in favorites | batch(5) %}
            <div class="card m-3">
                {% for recipe in row %}
        
                {% if not recipe['image'] %}
                <img src="https://purewows3.imgix.net/images/articles/2020_12/LittleBeetTable_healthy-restaurants-nyc.jpg?auto=format,compress&cs=strip" alt="Your recipe">
                {% else %}
                <img src="{{ recipe['image'] }}" class="card-img-top" alt="{{ recipe['title'] }}">
                {% endif %}
        
                <div class="card-body">
                    <h5 class="card-title">{{ recipe['title'] }}</h5>
                    <p>Ready in: {{ recipe['readyInMinutes']}}</p>
                    <p>By {{ recipe['sourceName']}}</p>
                    <a href="/recipes/{{recipe.id}}" class="btn btn-primary">Detail</a>

                    <form method="POST" action="/recipes/{{recipe.id}}/remove">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                    
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}